<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css and index.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!-- This is the pink bar at the top: -->
    <nav>
      <div class="nav-wrapper">
        <div id="title" class="brand-logo">Marshwood Weather</div>
        <div id="cur-time" class="right"></div>
      </div>
    </nav>
    <!-- This is the first row. Each "col s12 m2" represents one box with width one-sixth of the screen. -->
    <div class="row">
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Temperature</span>
            <h1 class="large-info">$current.outTemp</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Humidity</span>
              <h1 class="large-info">$current.outHumidity</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Windchill</span>
              <h1 class="large-info">$current.windchill</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Inside Temperature</span>
              <h1 class="large-info">$current.inTemp</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Wind Direction</span>
              <!-- The #wind-direction span is made so that it can be cleared whenever the wind direction is "N/A" because the wind speed is 0 mph. -->
              <h1 class="large-info">$current.windSpeed <span id="wind-direction">$current.windDir.ordinal_compass</span></h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Heat Index</span>
              <h1 class="large-info">$current.heatindex</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- This is the second row. The .above-frame elements are above the below <iframe>. Note that the Moon Phase card is not .above-frame -->
    <div class="row">
      <div class="col s12 m2 above-frame">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Rain Today</span>
              <h1 class="large-info">$day.rain.sum</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2 above-frame">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Rain Rate</span>
              <h1 class="large-info">$current.rainRate</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2 above-frame">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Sunrise</span>
              <h1 class="large-info" id="sunrise"></h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2 above-frame">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Sunset</span>
              <h1 class="large-info" id="sunset"></h1>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="card blue-grey darken-1">
          <div class="card-image">
            <img src="http://api.usno.navy.mil/imagery/moon.png" class="responsive-img">
          </div>
          <div class="card-content white-text">
            <span class="card-title">Moon Phase</span>
              <h1 class="large-info" id="moonPhase"></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- This is the <iframe> containing info from Dark Sky. -->
    <iframe id="frame" type="text/html" height="245" src="http://forecast.io/embed/#lat=43.2007&amp;lon=-70.7974&amp;name=$station.location"></iframe>
    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/scriptsource.js"></script>
  </body>
</html>